<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie:</strong>
    <%= movie.movie %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>actor:</strong>
    <%= movie.actor %>
  </p>

  <p>
    <strong>Filming location:</strong>
    <%= movie.filming_location %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= movie.country %>
  </p>

  <p>
    <strong>avg stars:</strong>
    <% stars = movie.reviews.pluck(:stars) %>
    <%= stars.sum / (stars.count * 1.0 ) %>
  </p>

  <p>
    <strong>reviews:</strong>
    <% reviews = movie.reviews.pluck(:review) %>
    <%= reviews %>
  </p>


</div>
