<p style="color: green"><%= notice %></p>

<h1>search for actor</h1>
<%= form_tag movies_path, :method => "get" do %>
<%= label_tag(:search, "enter actor name you ant to search") %>
<%= text_field_tag :search, params[:search_tag] %>
<%= submit_tag("Search", :name => nil)%>
<%end%>

<h1>Movies Overview</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
