<div id="<%= dom_id review %>">
  <p>
    <strong>Movie:</strong>
    <%= review.movie %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= review.stars %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>


</div>
